.filter-form-main {
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  /* width: 34%; */
  width: auto;
  /* min-width: 200px; */
  top: 128%;
  left: -1.3px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.genres-text-main {
  position: relative;
  /* margin-top: 10%; */
  display: flex;
  align-self: center;
  margin-bottom: 1%;
}

.genres-grid-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 20px;
}

.genre-pill-main {
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 14px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  white-space: nowrap;
  flex-basis: 45%;
}

.genre-pill-main.active {
  background: rgba(255, 255, 255, 0.5);
}

.genre-pill-main:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.genre-pill-main:hover {
  cursor: pointer;
}

.close-filter-button-main {
    position: absolute;
    background: transparent;
    border: none;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 10;
}
