.film-info-container {
    position: relative;
    height: 15vh;
    margin: 5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px;
    border-radius: 15px;
}

.film-info-poster {
    position: relative;
    height: 100%;
    flex-shrink: 0;
    border-radius: 12px;
}

.film-info-c {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    justify-content: space-between;
    /* gap: 10px;  */
    font-size: 16px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.metadata {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.film-info-title {
    /* margin-bottom: auto; */
    position: relative;
}

.film-info-year {
    position: relative;
}

.film-info-rating {
    position: relative;
}

.film-info-genres {
    position: relative;
}
